<h2>Shoutr</h2>
<%= form_for @shout do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Shout!" %>
<% end %>

<ul>
  <% @timeline.each do |shout| %>
    <li>
    <strong><%= shout.user.email %></strong> <%= shout.body %> </li>
    <%= time_ago_in_words(shout.created_at) %> ago
  <% end %>
</ul>
