<div class="shout-section">
  <div class="nav-text">Shout with text</div>
  <%= form_for @text_subject do |form| %>
    <%= form.text_field :body %>
    <%= form.submit "Shout!" %>
  <% end %>
</div>

<div class="shout-section">
  <div class="nav-text">Shout an image</div>
  <%= form_for @image_subject do |form| %>
    <%= form.label :url %>
    <%= form.text_field :url %>
    <br>

    <%= form.label :caption %>
    <%= form.text_field :caption %>
    <%= form.submit "Shout an Image!" %>
  <% end %>
</div>

<p><p>
<%= render @timeline %>
<%= paginate @timeline %>
<%# this is iterating over timeline, which has shouts, rendering the _shout partial and setting shout to be used in _shout%>
