<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  #container {
    width:600px;
    overflow:auto;
  }
  .section {
    margin-left: 25%;
  }
  img {
    max-height:250px;
    max-width:250px;
    border:3px solid black;
  }
  .caption {
    font-size:160%
  }
  #nav {
    width:25%;
    border:2px solid black;
    float: left;
    margin:5px;
    padding:5px;
  }
  #main {
    width:600px;
    border:5px solid black;
  }
  .nav-text {
    font-family:"Arial", sans-serif;
    font-size:145%;
  }
</style>
<body>
  <ul>
    <li><%= link_to "Home", shouts_path %></li>
    <li><%= link_to "Users", users_path %></li>
  </ul>

  <div class="session">
    <% if signed_in? %>
      <p>Signed-in as: <%= current_user.email %></p>
      <%= button_to "Sign Out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </div>
  <p>

  <%= yield %>

</body>
</html>
